.form-add {
  padding: 8px 0;
  border-bottom: 1px solid rgba(203, 216, 16, 0.8);
  width: 470px;
  display: flex;
}
input {
  flex: 1;
  font-size: 1.6rem;
  padding: 4px 8px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 700;
  color: #fff;
}

input::placeholder {
  color: #ccc;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #ccc;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 8px;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

button.btn-search {
  margin-left: 10px;
}

button.btn-submit.onside {
  background-color: rgb(8, 126, 112);
  box-shadow: 5px 5px #222222;
  transition: all ease-in 0.2s !important;
}

button.btn-submit:hover,
button.btn-submit.onside:hover {
  box-shadow: none;
  transform: translateY(2px) !important;
  transition: all ease-in 0.2s;
  opacity: 1 !important;
}

button.btn-search.onside {
  background-color: rgb(38, 184, 45);
  box-shadow: 5px 5px #222222;
  transition: all ease-in 0.2s !important;
}

button.btn-search:hover,
button.btn-search.onside:hover {
  box-shadow: none;
  transform: translateY(2px) !important;
  transition: all ease-in 0.2s;
  opacity: 1 !important;
}
