.react-flow .react-flow__handle {
  width: 30px;
  height: 14px;
  border-radius: 3px;
  background-color: orange;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}

.react-flow .react-flow__node .text-update-node {
  background-color: #1ed427;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  border: 1px solid #eee;
}

.react-flow .react-flow__node .text-update-node input {
  text-align: center;
  outline: 0;
  border: 1px solid transparent;
  background-color: transparent;
  color: #fff;
  margin-top: 5px;
}

.react-flow .react-flow__node .text-update-node input.edit {
  border: 1px solid #fff;
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 3;
  stroke: orange;
}

.react-flow .react-flow__edge.selected path,
.react-flow__connectionline.selected path {
  stroke: blue;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}

.share-option input[type="radio"]:checked + label span {
  background-color: #e0197d;
  box-shadow: inset 0 0 0 2px #fff;
}
.share-option input[type="radio"]:checked + label {
  color: #e0197d;
}
