.input-title {
  margin-top: 40px;
  font-size: 1.7rem;
  color: green;
}
.input-form {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1.6rem;
  outline: none;
  &:focus {
    outline: 2px solid green;
  }
}

#dark {
  .input-title {
    color: bisque;
  }

  .input-form {
    color: #000;
  }
}
