.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgb(37, 43, 72);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 30px;
  z-index: 5;

  .icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
    }
  }

  .icon-cart {
    width: 50px;
    height: 50px;
    cursor: pointer;
    img {
      fill: white;
      display: block;
      width: 100%;
      filter: invert(61%) sepia(91%) saturate(1515%) hue-rotate(357deg)
        brightness(103%) contrast(110%);
      transition: filter 0.3 ease;
      &:hover {
        filter: invert(26%) sepia(21%) saturate(1858%) hue-rotate(1deg)
          brightness(99%) contrast(92%);
      }
    }
  }

  #number-of-products {
    position: absolute;
    padding: 4px;
    border-radius: 99%;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #ccc;
    bottom: 10px;
    color: orange;
    right: 20px;
    font-weight: 700;
    font-size: 1.2rem;
  }
}
