* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
}

p {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: green;
}

.cell {
    height: 40px;
    width: 40px;
    border: 2px solid #000;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;    
}

.table-style {
    border-collapse: collapse;
}

.cel-multiplication {
    height: 40px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dashed solid;
    border-width: 1px 2px;
    border-color: #ff0000 #000;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0 10px;
}