@import "_mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --container-width: 100%;
  --column-space: 0px;
  --container-padding: 0px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.row [class^="col-"] {
  --column-width: calc(100% / (12 / var(--column-size)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
}

@for $i from 1 through 12 {
  .col-#{$i} {
    --column-size: #{$i};
  }
}

$breakPoints: (
  sm: 501,
  md: 601,
  lg: 960,
  xl: 1366,
  xxl: 1501,
);

@each $name, $breakPoint in $breakPoints {
  @media screen and (min-width: #{$breakPoint}px) {
    @for $i from 1 through 12 {
      .col-#{$name}-#{$i} {
        --column-size: #{$i};
      }
    }
    .d-#{$name}-none {
      display: none;
    }

    .d-#{$name}-block {
      display: block;
    }
  }
}
