@import "reset";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap");

$primaryFont: "Titillium Web", sans-serif;
$secondaryFont: "Rajdhani", sans-serif;
.landing {
  width: 100%;
  height: 100%;
  padding: 80px 0 100px;
  background: url(../img/landing-background.jpg) no-repeat 0;
  background-size: cover;
  @media screen and (min-width: 1366px) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
  }
  .landing-dot {
    position: absolute;
    top: -20%;
    right: -32%;
    z-index: -1;
    width: 64%;
    height: 140%;
    pointer-events: none;
    border-radius: 50%;
    background: url(../img/dot.png) repeat 0 0 #fff;
  }
  input {
    @include inputChecked("login");
    @include inputChecked("register");
  }
  .container {
    .row {
      .landing-content {
        @include flexColumnCenter;
        @media screen and (min-width: 1366px) {
          width: 584px;
          position: absolute;
          top: 16%;
          left: 6%;
        }
        @media screen and (min-width: 1501px) {
          left: 13%;
        }
        .landing-logo {
          @include flexCenter;
          img {
            display: block;
          }
        }
        span {
          margin-top: 36px;
          text-transform: uppercase;
          color: #fff;
          font-family: $secondaryFont;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1em;
        }
        h1 {
          text-transform: uppercase;
          font-weight: 900;
          font-family: $primaryFont;
          font-size: 3.75rem;
          color: #fff;
          line-height: 1em;
          position: relative;
          top: -10px;
          @media screen and (min-width: 501px) {
            font-size: 6.5rem;
          }
        }
        p {
          margin: 10px auto 0;
          width: 384px;
          font-size: 1.125rem;
          font-weight: 500;
          font-family: $secondaryFont;
          line-height: 24px;
          color: #fff;
          @media screen and (min-width: 1501px) {
            margin-top: 30px;
          }
        }
        .btn {
          @include flexCenter;
          width: 90%;
          margin: 20px auto 0 auto;
          @media screen and (min-width: 501px) {
            margin-top: 40px;
            width: 100%;
          }
          @media screen and (min-width: 1501px) {
            margin-top: 90px;
          }
          label {
            width: 50%;
            height: 54px;
            color: #fff;
            font-size: 1rem;
            line-height: 54px;
            font-weight: 700;
            border: 1px solid #fff;
            cursor: pointer;
            font-family: $secondaryFont;
            transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
            &.btn-login {
              border-top-left-radius: 12px;
              border-bottom-left-radius: 12px;
            }
            &.btn-register {
              border-top-right-radius: 12px;
              border-bottom-right-radius: 12px;
            }
            @media screen and (min-width: 501px) {
              width: 180px;
            }
          }
        }
      }
      .form-login {
        display: none;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        @media screen and (min-width: 501px) {
          margin-top: 80px;
        }
        @media screen and (min-width: 1366px) {
          display: block;
          width: 484px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 80px;
          margin-top: 0;
          transform: translate(50%, 0px);
          opacity: 0;
          visibility: hidden;
          transition: 0.6s ease-in-out;
          transition-timing-function: opacity, transform, visibility;
        }
        @media screen and (min-width: 1501px) {
          right: 13%;
        }
        .form-login__content {
          position: relative;
          width: 90%;
          margin: 0 auto;
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          padding: 40px 32px;
          background-color: #fff;
          box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
          border-radius: 12px;
          @media screen and (min-width: 501px) {
            padding: 64px;
          }
          @media screen and (min-width: 601px) {
            width: 484px;
          }
          @media screen and (min-width: 1366px) {
            position: absolute;
            top: calc(50% - 313px);
          }
          .rocket {
            position: absolute;
            top: -68px;
            left: -80px;
          }
          h2 {
            font-size: 1.625rem;
            font-weight: 700;
            font-family: $secondaryFont;
            line-height: 1em;
            text-align: center;
            color: #3e3f5e;
          }
          form {
            margin-top: 76px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 28px;
            .login-username,
            .password {
              position: relative;
              @include inputForm;
              @include labelForm;
            }
            .remember-forgetting {
              position: relative;
              @include flexSpaceBetween;
              input:checked ~ .check-box {
                background-color: #23d2e2;
                border-color: #23d2e2;
                img {
                  fill: #fff;
                }
              }
              .check-box {
                @include flexCenter;
                border: 1px solid #dedeea;
                border-radius: 6px;
                background-color: #fff;
                position: absolute;
                top: 2px;
                left: 0;
                width: 22px;
                height: 22px;
                transition: border-color 0.2s ease-in-out,
                  background-color 0.2s ease-in-out;
                img {
                  fill: transparent;
                  transition: fill 0.2s ease-in-out;
                }
              }
              label {
                padding-left: 34px;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 22px;
                font-family: $secondaryFont;
                @media screen and (min-width: 1200px) {
                  cursor: pointer;
                }
              }
              .forgetting {
                line-height: 1.5;
                a {
                  color: #adafca;
                  font-size: 0.875rem;
                  font-weight: 700;
                  line-height: 22px;
                  font-family: $secondaryFont;
                  text-align: left;
                  &:hover {
                    color: #00c7d9;
                  }
                }
              }
            }
            .form-btn-login {
              @include button;
              button {
                background-color: #615dfa;
                box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
              }
            }
          }
          p {
            margin-top: 40px;
            width: 100%;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: center;
            position: relative;
            color: #3e3f5e;
            font-family: $secondaryFont;
            line-height: 1em;
            &::before,
            &::after {
              content: "";
              display: block;
              width: 70px;
              height: 1px;
              background-color: #eaeaf5;
              position: absolute;
              top: 7px;
              right: 0;
            }
            &::before {
              left: 0;
            }
          }
          .social-list {
            margin-top: 30px;
            @include flexCenter;
            li {
              a {
                @include flexCenter;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                transition: transform 0.2s ease-in-out,
                  -webkit-transform 0.2s ease-in-out;
                &:hover {
                  transform: translateY(-4px);
                }
                &.fb {
                  margin-right: 12px;
                  background-color: #3763d2;
                }
                &.twitter {
                  margin-right: 12px;
                  background-color: #1abcff;
                }
                &.twitch {
                  margin-right: 12px;
                  background-color: #7b5dfa;
                }
                &.youtobe {
                  margin-right: 0;
                  background-color: #fd434f;
                }
                img {
                  width: 12px;
                  height: 12px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .form-register {
        display: none;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        @media screen and (min-width: 501px) {
          margin-top: 80px;
        }
        @media screen and (min-width: 1366px) {
          display: block;
          width: 484px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 80px;
          margin-top: 0;
          transform: translate(50%, 0px);
          opacity: 0;
          visibility: hidden;
          transition: 0.6s ease-in-out;
          transition-timing-function: opacity, transform, visibility;
        }
        @media screen and (min-width: 1501px) {
          right: 13%;
        }
        .form-register__content {
          position: relative;
          width: 90%;
          margin: 0 auto;
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          padding: 40px 32px;
          background-color: #fff;
          box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
          border-radius: 12px;
          @media screen and (min-width: 501px) {
            padding: 64px;
          }
          @media screen and (min-width: 601px) {
            width: 484px;
          }
          @media screen and (min-width: 1366px) {
            position: absolute;
            top: calc(50% - 370px);
          }
          .rocket {
            position: absolute;
            top: -14px;
            left: -80px;
          }
          h2 {
            font-size: 1.625rem;
            font-weight: 700;
            font-family: $secondaryFont;
            line-height: 1em;
            text-align: center;
            color: #3e3f5e;
          }
          form {
            margin-top: 76px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 28px;
            .register-email,
            .register-username,
            .register-password,
            .repetition-password {
              position: relative;
              @include inputForm;
              @include labelForm;
            }
            .alert-update {
              position: relative;
              input:checked ~ .check-box {
                background-color: #23d2e2;
                border-color: #23d2e2;
                img {
                  fill: #fff;
                }
              }
              .check-box {
                @include flexCenter;
                border: 1px solid #dedeea;
                border-radius: 6px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 22px;
                transition: border-color 0.2s ease-in-out,
                  background-color 0.2s ease-in-out;
                img {
                  fill: transparent;
                  transition: fill 0.2s ease-in-out;
                }
              }
              label {
                padding-left: 34px;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 22px;
                color: #3e3f5e;
                font-family: $secondaryFont;
                @media screen and (min-width: 1200px) {
                  cursor: pointer;
                }
              }
            }
            .form-btn-register {
              @include button;
              button {
                background-color: #23d2e2;
                box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
              }
            }
          }
          .contact {
            margin-top: 30px;
            width: 100%;
            font-size: 0.875rem;
            font-weight: 500;
            color: #3e3f5e;
            font-family: $secondaryFont;
            line-height: 24px;
            a {
              color: #00c7d9;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
